<h2 class=" text-light p-4 d-flex flex-column" style="font-size: 15px;background-color:black;">
   
    <div class="row">
        <div class="col">
        <p style="font-size: 15px;">  <i class="fas fa-map-marker-alt"></i> Flat No:300 <br>KPHB colony <br>  Hyderabad 500022</p>
        <p><i class="fas fa-phone"></i> +91 9642XXXXXXX</p>
        <p><i class="fas fa-envelope"></i> pepperxxxx@gmail.com</p>
    </div>
        <div class="col-lg-4">
            <h6>About</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ut modi recusandae corrupti, ipsa suscipit nesciunt ea vel fugiat doloribus saepe, sequi, magni quaerat? Dignissimos debitis neque fuga accusantium laborum?</p>
            <p style="font-size:18px;">Follow Us <br><i class="fab fa-facebook-square"></i>&nbsp; <i class="fab fa-instagram-square"></i>&nbsp; <i class="fab fa-twitter-square"></i></p>
        </div>
    </div>
</h2>
