
<!--Card 1-->
<div class="card shadow h-100" style="">
    <img src="{{prodObj.prodImg}}" class="card-img-top" alt="Not available" width=100% height=40%>
    <div class="card-body">
      <h5 class="card-title">{{prodObj.prodTitle}}</h5>
      <p class="card-text" style="">{{prodObj.prodBrand}}</p>
      <p class="card-text" style="">{{prodObj.prodMaterial}}</p>
      <p class="card-text" style="">Rs.{{prodObj.prodPrice}}</p>
      <div style="display:flex; flex-direction:row; align-content:flex-end;">
      <button href="#" class="btn btn-primary" style="bottom:-10px;" (click)="sendProductToParent(prodObj.prodTitle)">Add Product</button>
    </div>
    </div>
  </div>

 