<p class="text-light text-center" style="font-weight: bold;" >No. of Items Selected:{{prodCount}}</p>
<h5 class="text-white  text-center">Products Selected By User:</h5>
<p *ngIf="productsSentByChild.length==0" class="text-white  text-center" style="font-weight: bold;">No Products Selected!</p>
<p *ngFor="let title of productsSentByChild" style="font-weight: bold;" class="text-white  text-center">{{title}},</p>

<div class="row">
<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-4 mt-5 mb-5">
   <div class="col" *ngFor="let p of products">
    <app-product-details [prodObj]=p    (myEvent)="getProductDetailsFromChild($event)"></app-product-details>
    </div>
</div>
</div>