<div class="container d-flex">
    <div class="row">
       
        <div class="col-6  p-3" style="background-color:coral">
          <h3 class="text-center text-light">Contact Us</h3>
        <form action="">
      
          <label for="fname">Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
      
          <label for="lname">Email</label>
          <input type="text" id="lname" name="lastname" placeholder="Your email id..">
      
          <label for="subject">Message</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      
          <input type="submit" value="Send Message" class="ms-auto w-100">
      
        </form>
        </div>

        <div class="col-6 text-center getintouch">
          <h3>Get in Touch</h3>
          <p>Want to get in touch ? We'd love to hear from you .Here's how you can reach us...</p>
        </div>
    </div>
</div>
